header { 
            display: flex;        
            justify-content: space-between;
            align-items: center;
            background-color: #7C5E99;
            border-bottom: 10px solid #000;
            padding: 10px 20px;
        }

    nav {
            text-align: right;
        }     

        a{
            display: inline-flex;
            align-items: center;
            color: #FFF;
            font-size: 16px;
            font-weight: 300;
            text-decoration: none;
            margin-right: 30px;
        }
        .meu-link:hover {
            color: rgb(87, 249, 17);
            text-decoration-color: underline ;
        }
        a::before {
            content: "";
            background-color: #F25A70;
            width: 10px;
            height: 10px;
            margin-right: 10px ;
        }
    span {
            display: inline-block;
            background-color: #F25A70;
            width: 10px;
            height: 10px;
            margin-right: 10px ;
        }






/* display: inline-block;: Essa propriedade define como o elemento deve ser exibido no fluxo do documento.
inline-block combina as características de elementos em bloco e elementos em linha. Isso permite que o elemento seja tratado como um elemento em linha, permitindo que outros elementos apareçam ao seu lado, mas também permite que você defina largura, altura e margens, como um elemento em bloco. É útil quando você deseja alinhar vários elementos horizontalmente.
background-color: Essa propriedade define a cor de fundo do elemento. Você pode especificar a cor usando nomes de cores (por exemplo, "red" para vermelho) ou códigos de cores hexadecimais (por exemplo, "#FF0000" para vermelho). O fundo de um elemento é a área atrás do conteúdo e da borda.
height: Essa propriedade define a altura do elemento. Você pode especificar a altura usando unidades como pixels (px), porcentagem (%) ou outras unidades de comprimento.
line-height: Essa propriedade define a altura da linha do texto dentro do elemento. Ela pode ser usada para controlar o espaçamento entre linhas de texto.
padding-left e padding-right: Essas propriedades definem o preenchimento (espaço interno) do elemento nas margens esquerda e direita, respectivamente. O preenchimento cria espaço entre o conteúdo do elemento e sua borda.
box-shadow: Essa propriedade aplica uma sombra ao redor do elemento. Você pode definir a cor da sombra, sua posição horizontal e vertical, o desfoque (blur) e o espalhamento (spread) da sombra. É comumente usado para adicionar efeitos de profundidade a elementos, como botões.
 */


/* Seletores:
element: Aplica estilos a elementos HTML específicos (por exemplo, p, h1, div).
.classe: Aplica estilos a elementos que possuem uma classe específica (definida pelo atributo class no HTML).
#id: Aplica estilos a um elemento específico que possui um ID específico (definido pelo atributo id no HTML).
*: Aplica estilos a todos os elementos na página.
Propriedades de Estilo:
color: Define a cor do texto.
font-size: Define o tamanho da fonte do texto.
font-family: Define a família de fonte usada para o texto.
font-weight: Define o peso (espessura) da fonte, como normal, negrito ou mais leve.
text-align: Alinha o texto à esquerda, à direita, centralizado ou justificado.
background-color: Define a cor de fundo de um elemento.
margin: Define as margens externas de um elemento.
padding: Define o preenchimento interno de um elemento.
border: Define a borda de um elemento.
width e height: Definem a largura e a altura de um elemento.
display: Define o tipo de exibição de um elemento, como bloco (block), inline (inline) ou flexível (flex).
position: Define o tipo de posicionamento de um elemento, como relative, absolute, fixed ou static.
float: Define como um elemento deve flutuar em relação aos elementos circundantes.
z-index: Define a ordem de empilhamento de elementos posicionados.
transition: Define uma transição suave para propriedades de estilo ao longo do tempo. */