.button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000;   
    padding: 18px 20px;
    margin: 0;
    transition: transform 100ms linear;
}

.button:hover{
    transform: scale(1.10);
}
