.main-form{
   padding: 50px 40px;
}

.main-form .main-title{
    margin-bottom: 20px;
}

.main-form .main-input {
    margin-bottom: 20px;
}

.main-form .main-input.-area {
    margin-bottom: 20px;
}
