.main-action {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    margin-right: 30px;
}
.main-action:hover   {
    color: rgb(87, 249, 17);
    text-decoration-color: underline ;
}
.main-action::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px ;
}